<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/basic/header', { title: 'Detail Laporan' }) %>
  <body>
    <%- include('../partials/basic/navbar') %>
    <div></div>
    <%- include('../partials/behavioral-detail-report.ejs') %>
    <div></div>
    <%- include('../partials/basic/footer') %>
  </body>
</html>
