<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detailLaporan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/detailLaporan.css" />
  </head>
  <body>
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        border-bottom border-secondary
      "
    >
      <div class="container align-items-center">
        <a class="navbar-brand" href="#"
          ><img src="/img/homepage/Logo.svg" alt="" width="110px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a
              class="nav-link active"
              aria-current="page"
              href="/tutor-dashboard"
              style="color: #7749f8"
              >Dashboard</a
            >
            <a
              class="nav-link"
              href="/tutor-dashboard/penawaran"
              style="color: #7749f8"
              >Penawaran</a
            >
            <a
              class="nav-link"
              href="/tutor-dashboard/profile"
              style="color: #7749f8"
              >Profile</a
            >
            <a class="nav-link ps-2" href="#" id="profil"
              ><img
                src="/img/homepage/Lingkaran.png"
                alt=""
                id="profil"
                width="24px"
                class="rounded-circle"
            /></a>
          </div>
        </div>
      </div>
    </nav>

    <!---ISI---->
    <div class="container vh-75">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start mt-4 mb-2">
          <li class="page-item">
            <a
              class="page-link border-0 text-secondary"
              href="/tutor-dashboard"
              tabindex="-1"
            >
              <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a
            >
          </li>
        </ul>
      </nav>
      <h3 class="mb-3">Detail Laporan</h3>
      <!-- <div class="mb-3 h2">Detail Laporan</div> -->
      <div class="col-lg-12">
        <div class="box border border-secondary p-3" style="border-radius: 7px">
          <!--tampilan detail Laporan:-->
          <h4 class="mt-0" style="font-size: 22px">Tanggal - Mata Pelajaran</h4>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Deskripsi</small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px"
                >Hari ini, guru di SMP memberikan tugas untuk mengerjakan
                penyelesaian aljabar, di mana persoalan tersebut diberikan
                sebagai contoh.
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Tugas C4</small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px">60</small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Tugas D1</small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px">70</small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Perilaku</small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px"
                >Anak Anda cukup rajin dan memperhatikan, ketika ada pertanyaan
                yang cukup sulit, dia bertanya, dan akhirnya bisa menyelesaikan
                tugas dengan cepat.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>
            Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan
            mengutamakan pemerataan pendidikan di masa pandemi melalui
            pendampingan anak sekolah dengan tutor yang sesuai.
          </p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"
                ><img src="/img/homepage/Facebook.svg" alt="" width="40px"
              /></a>

              <a href="#" class="pe-3"
                ><img src="/img/homepage/Instagram.svg" alt="" width="40px"
              /></a>

              <a href="#" class="pe-3"
                ><img src="/img/homepage/Twitter.svg" alt="" width="40px"
              /></a>

              <a href="#"
                ><img src="/img/homepage/Whatsapp.svg" alt="" width="40px"
              /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li>
                <img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk
                No. 26 Surabaya, Indonesia
              </li>
              <li>
                <img src="/img/homepage/Mail.svg" alt="" />username@domain.com
              </li>
              <li>
                <img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div
        class="row text-light py-3"
        style="background-color: #311d68; font-size: 14px"
      >
        <div class="col-lg-12 text-center">
          Copyright (c) SYNRGY Academy 2021
        </div>
      </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
