<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Murid</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
  <link rel="stylesheet" href="fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
  <link rel="stylesheet" href="/bootstrap/css/style.css" />
  <link rel="stylesheet" href="/bootstrap/css/dashboardTutor.css" />
  <body>
    <!-- Navbar -->
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        border-bottom border-secondary
        fixed-top
        navbar-light
        bg-light
      "
    >
      <div class="container align-items-center">
        <a class="navbar-brand" href="#"
          ><img src="/img/homepage/Logo.svg" alt="" width="110px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              style="color: #7749f8"
              >Dashboard</a
            >
            <a class="nav-link" href="#" style="color: #7749f8">Penawaran</a>
            <a class="nav-link" href="#" style="color: #7749f8">Profile</a>
            <a class="nav-link ps-2" href="#" id="profil"
              ><img
                src="/img/homepage/Lingkaran.png"
                alt=""
                id="profil"
                width="24px"
                class="rounded-circle"
            /></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->
    <!-- Detail Murid -->
    <div class="container pt-5 mt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start mb-3">
          <li class="page-item">
            <a
              class="page-link border-0 text-secondary"
              href="/tutor-dashboard"
              tabindex="-1"
            >
              <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a
            >
          </li>
        </ul>
      </nav>
      <div class="col-lg-12">
        <div class="box border border-secondary p-5" style="border-radius: 7px">
          <div class="row d-md-flex align-items-md-center">
            <div class="col-lg-3">
              <picture>
                <img
                  class="ms-5"
                  src="/img/homepage/Ardhan.png"
                  alt=""
                  width="180px"
                />
              </picture>
            </div>

            <% for (let i = 0; i < data.length; i++) { %>
            <div class="col-lg-4">
              <h2 class="text-start"><%= data[i].child.name %></h2>
              <small style="color: #585859"
                ><%= data[i].child.birthday %></small
              >
              <br />

              <small style="color: #585859"><%= data[i].service.name %></small>
              <br />
              <small style="color: #585859"
                ><%= data[i].child.user.username%></small
              >
              <br />
              <small style="color: #585859"
                ><%= data[i].child.deskripsi %></small
              >
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Akhir Detail Murid -->
    <!-- Detail Laporan -->
    <div class="container mt-4">
      <h3>Laporan</h3>
      <form class="row row justify-content-around">
        <div class="form-group has-search col-9">
          <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
          <span class="fa fa-search form-control-feedback"></span>
          <input
            type="text"
            class="form-control"
            id="inputSearch"
            placeholder="masukan tanggal, mata pelajaran"
          />
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary mb-3 w-100">Cari</button>
        </div>
      </form>
    </div>

    <!-- Akhir Detail Laporan -->
    <!-- Tambah Laporan dan Menampilkan data -->

    <!-- <div class="container vh-75">
      <button class="btn btn-primary mb-3">Tambah Laporan</button>

      <table class="table border">
        <tbody>
          <tr class="table-default text-white">
            <td>Hari, Tanggal</td>
            <td>Mata Pelajaran</td>
            <td>Deskripsi</td>
            <td>Perilaku</td>
          </tr>
          <tr>
            <small style="color: #2e2e2e">
              <td>Senin, 24 Mei 2021</td>
              <td>Biologi</td>
              <td>
                Hari ini guru mengajari mengenai sistem rantai makanan yang
                terjadi di ekosistem
              </td>
              <td>
                Anak anda mendengarkan semua penjelasan yang diberikan oleh guru
              </td>
            </small>
          </tr>
          <tr>
            <td>Jumat, 21 Mei 2021</td>
            <td>Fisika</td>
            <td>
              Hari ini guru mengajari mengenai gerak lurus berubah beraturan
            </td>
            <td>Anak anda cukup bingung ketika fase perhitungan</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <!-- Akhir Tambah Laporan dan Menampilkan data -->

    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>
            Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan
            mengutamakan pemerataan pendidikan di masa pandemi melalui
            pendampingan anak sekolah dengan tutor yang sesuai.
          </p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"
                ><img src="/img/homepage/Facebook.svg" alt="" width="40px"
              /></a>

              <a href="#" class="pe-3"
                ><img src="/img/homepage/Instagram.svg" alt="" width="40px"
              /></a>

              <a href="#" class="pe-3"
                ><img src="/img/homepage/Twitter.svg" alt="" width="40px"
              /></a>

              <a href="#"
                ><img src="/img/homepage/Whatsapp.svg" alt="" width="40px"
              /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li>
                <img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk
                No. 26 Surabaya, Indonesia
              </li>
              <li>
                <img src="/img/homepage/Mail.svg" alt="" />username@domain.com
              </li>
              <li>
                <img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div
        class="row text-light py-3"
        style="background-color: #311d68; font-size: 14px"
      >
        <div class="col-lg-12 text-center">
          Copyright (c) SYNRGY Academy 2021
        </div>
      </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
