<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css" />
  </head>

  <body>
    <div class="row g-0">
      <div class="col-lg-6 mx-auto" id="col2">
        <div class="row">
          <img
            src="img/homepage/Logo.svg"
            class="ps-5"
            alt=""
            style="width: 170px"
          />
        </div>
        <form method="POST" id="login" class="mx-5 px-3" action="/login">
          <h5 class="text-center" id="headline"><strong>Masuk</strong></h5>
          <p class="text-center" id="subline">
            Masuk untuk dapat mendapatkan keuntungan yang maksimal!
          </p>
          <div class="mb-2 w-85">
            <label id="email">Email</label>
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="mb-2 w-85">
            <label id="password">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="text-end">
            <a
              class="small"
              href="forgot-password.html"
              style="text-decoration: none"
              >Forgot Password?</a
            >
          </div>
          <div class="my-3 w-85">
            <button
              class="btn btn-primary d-block w-100"
              type="submit"
              style="background-color: rgb(178, 60, 225); border: none"
            >
              Masuk
            </button>
          </div>
          <p
            class="fs-6 fw-normal text-center"
            style="color: rgb(181, 178, 178)"
          >
            Belum punya akun?<a
              class="already"
              href="/register"
              style="color: rgb(178, 60, 225); text-decoration: none"
              >Daftar</a
            >
          </p>
        </form>
      </div>
      <!--gambar-->
      <div class="col-lg-6 p-r">
        <img
          src="img/login/Image=Login.png"
          alt=""
          class="img-responsive img-full"
        />
      </div>
    </div>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
