<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Tutor</title>
    <!-- <link rel="stylesheet" href="profile.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/bootstrap/css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light border-bottom border-secondary">
      <div class="container align-items-center">
        <a class="navbar-brand" href="/tutor-dashboard"><img src="/img/homepage/Logo.svg" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a class="nav-link active" aria-current="page" href="/tutor-dashboard" style="color: #7749f8">Dashboard</a>
            <a class="nav-link" href="/tutor-dashboard/penawaran" style="color: #7749f8">Penawaran</a>
            <a class="nav-link" href="/tutor-dashboard/profile" style="color: #7749f8">Profile</a>
            <a class="nav-link ps-2" href="#" id="profil"><img src="/img/tutor/Nama=Nita.png" alt="" id="profil" width="24px" class="rounded-circle" /></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <div class="container" >
      <form action="/">
      <h5 class="py-4"><strong>Data Pribadi</strong></h5>
      <!--Data Pribadi-->
      <div class="col-lg-12">
        <!--Per kolom-->
        <div class="box border border-secondary p-4" style="border-radius: 7px">
          <!--Input nama :-->
          <div class="row">
            <div class="col-lg-2">
              <label for="fullname" class="col-form-label">Nama</label>
            </div>
            <div class="col-lg-4">
              <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Nama" />
            </div>
          </div>
          <!--Input Deskripsi :-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="deskripsi" class="col-form-label">Deskripsi</label>
            </div>
            <div class="col-lg-10">
              <textarea type="text" id="deskripsi" rows="4" cols="10" name="deskripsi" class="form-control md-textarea" placeholder="Apa saja yang dibutuhkan anak?"></textarea>
            </div>
          </div>
          <!--Input Tanggal lahirs :-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="deskripsi" class="col-form-label">Tanggal Lahir</label>
            </div>
            <div class="col-lg-4">
              <input type="DATE" id="tanggallahir" name="tanggallahir" class="form-control" >
            </div>
          </div>
          <!--Input jenis kelamin-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="jeniskelamin" class="col-form-label">Jenis Kelamin</label>
            </div>
            <div class="col-lg-4">
              <input type="text" id="jeniskelamin" name="jeniskelamin" class="form-control" />
            </div>
          </div>
        </div>
      </div>

      <!--Kontak-->
      <h5 class="py-4"><strong>Kontak</strong></h5>
      <div class="col-lg-12">
        <div class="box border border-secondary p-4" style="border-radius: 7px">
          <!--pilih provinsi-->
          <div class="row ">
            <div class="col-lg-2">
              <label for="provinsi" class="col-form-label" >Provinsi</label>
            </div>
            <div class="dropdown col-lg-4">
              <select class="form-select w-100" id="inputGroupSelect04" name="kota">
                <option value="" disabled selected >Provinsi</option>
                <option value="">Aceh</option>
              </select>
            </div>
          </div>
           <!--pilih kabupaten-->
           <div class="row pt-3">
            <div class="col-lg-2">
              <label for="kota" class="col-form-label" >Kota/Kab</label>
            </div>
            <div class="dropdown col-lg-4">
              <select class="form-select w-100" id="inputGroupSelect04" name="kota" >
                <option value="" disabled selected >Kota/Kab</option>
                <option value="">Banda Aceh</option>
              </select>
            </div>
          </div>
          <!--input Alamat-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="address" class="col-form-label">Alamat</label>
            </div>
            <div class="col-lg-10">
              <textarea type="text" id="address" rows="4" cols="10" name="address" class="form-control md-textarea" placeholder="Alamat lengkap"></textarea>
            </div>
          </div>
          <!--input Telepon-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="phonenumber" class="col-form-label" >Nomor HP</label>
            </div>
            <div class="col-lg-4">
              <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="Nomor HP" />
            </div>
          </div>
        </div>
      </div>

      <!--Pendidikan-->
      <h5 class="py-4"><strong>Pendidikan</strong></h5>
      <div class="col-lg-12">
        <div class="box border border-secondary p-4" style="border-radius: 7px">
          <!--input Pendidikan Terakhir-->
          <div class="row">
            <div class="col-lg-2">
              <label for="penterakhir" class="col-form-label">Pendidikan</label>
            </div>
            <div class="col-lg-10">
              <input type="text" id="penterakhir" name="penterakhir" class="form-control" placeholder="Pendidikan Terakhir"></input>
            </div>
          </div>
          <!-- input Prestasi-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="prestasi" class="col-form-label">Prestasi</label>
            </div>
            <div class="col-lg-10">
              <textarea type="text" id="prestasi" rows="3" name="prestasi" class="form-control md-textarea" placeholder="Prestasi"></textarea>
            </div>
          </div>
        </div>
      </div>

      <!--Preferensi-->
      <h5 class="py-4"><strong>Preferensi</strong></h5>
      <div class="col-lg-12">
        <div class="box border border-secondary p-4" style="border-radius: 7px">
          <!--input Pendidikan Terakhir-->
          <div class="row">
            <div class="col-lg-2">
              <label for="mapel" class="col-form-label">Mata Pelajaran</label>
            </div>
            <div class="col-lg-10">
              <textarea type="text" id="mapel" name="mapel" class="form-control" placeholder="Mata Pelajaran"></textarea>
            </div>
          </div>
          <!-- input Prestasi-->
          <div class="row pt-3">
            <div class="col-lg-2">
              <label for="gaji" class="col-form-label">Gaji</label>
            </div>
            <!--input gaji-->
            <div class="col-lg-4">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Rp</div>
                </div>
                <input type="number" class="form-control" name="gaji" id="gaji" placeholder="0" style="opacity: 0.5;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Button submit-->
      <div class="col-lg-12"></div>
      <div class="form-group mt-3 mb-4 text-end">
        <button type="submit" class="btn btn-primary" style="background-color: #784cd0; border: none; width: 250px">Simpan</button>
      </div>
      </form>
    </div>


    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan mengutamakan pemerataan pendidikan di masa pandemi melalui pendampingan anak sekolah dengan tutor yang sesuai.</p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"><img src="/img/homepage/facebook.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Instagram.svg" alt="" width="40px" /></a>

              <a href="#" class="pe-3"><img src="/img/homepage/Twitter.svg" alt="" width="40px" /></a>

              <a href="#"><img src="/img/homepage/whatsapp.svg" alt="" width="40px" /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li><img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk No. 26 Surabaya, Indonesia</li>
              <li><img src="/img/homepage/Mail.svg alt="" />username@domain.com</li>
              <li><img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890</li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div class="row text-light py-3" style="background-color: #311d68; font-size: 14px">
        <div class="col-lg-12 text-center">Copyright (c) SYNRGY Academy 2021</div>
      </div>
    </div>
  </body>
</html>
