<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penawaran-Tutor</title>
    <link rel="stylesheet" href="css/tutor_penawaran.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/bootstrap/css/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/dashboardTutor.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        border-bottom border-secondary
      "
    >
      <div class="container align-items-center">
        <a class="navbar-brand" href="/tutor-dashboard"
          ><img src="/img/homepage/Logo.svg" alt="" width="110px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto align-items-center">
            <a
              class="nav-link active"
              aria-current="page"
              href="/tutor-dashboard"
              style="color: #7749f8"
              >Dashboard</a
            >
            <a
              class="nav-link"
              href="/tutor-dashboard/penawaran"
              style="color: #7749f8"
              >Penawaran</a
            >
            <a
              class="nav-link"
              href="/tutor-dashboard/profile"
              style="color: #7749f8"
              >Profile</a
            >
            <a class="nav-link ps-2" href="#" id="profil"
              ><img
                src="/img/tutor/Nama=Nita.png"
                alt=""
                id="profil"
                width="24px"
                class="rounded-circle"
            /></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!--Tampilan penawaran:-->
    <div class="container my-4">
      <h4>Penawaran Terakhir</h4>
      <div class="col-lg-12 pt-3">
        <form class="d-flex search-wrapper">
          <img src="/img/tutor/search.png" alt="" />
          <input
            class="form-control"
            type="search"
            id="search"
            name="search"
            onchange="hideIcon(this);"
            placeholder=" Masukan tanggal, mata pelajaran"
            aria-label="Search"
          />
          <button
            class="btn text-center text-light"
            type="submit"
            id="search"
            name="search"
            style="width: 150px; background-color: #784cd0"
          >
            Cari
          </button>
        </form>
      </div>
      <table class="table table-bordered mt-3">
        <!--header tabel-->
        <thead style="font-weight: 800">
          <tr class="text-light text-center" style="background-color: #1244c4">
            <th>Nama Orang Tua</th>
            <th>Nama Anak</th>
            <th>Nama Pelajaran</th>
            <th>Kelas</th>
            <th>Jadwal</th>
            <th>Status</th>
          </tr>
        </thead>
        <!--isi tabel-->
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--footer-->
    <div class="container-fluid">
      <!--about-->
      <div class="row text-light p-5" style="background-color: #42288b">
        <!--Tentang Kami-->
        <div class="col-lg-6 pb-3">
          <h5><strong>Tentang Kami</strong></h5>
          <p>
            Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan
            mengutamakan pemerataan pendidikan di masa pandemi melalui
            pendampingan anak sekolah dengan tutor yang sesuai.
          </p>
          <div class="row">
            <div class="col d-flex align-items-center">
              <a href="#" class="pe-3"
                ><img src="/img/homepage/facebook.svg" alt="" width="40px"
              /></a>

              <a href="#" class="pe-3"
                ><img src="/img/homepage/Instagram.svg" alt="" width="40px"
              /></a>

              <a href="#" class="pe-3"
                ><img src="/img/homepage/Twitter.svg" alt="" width="40px"
              /></a>

              <a href="#"
                ><img src="/img/homepage/whatsapp.svg" alt="" width="40px"
              /></a>
            </div>
          </div>
        </div>
        <!--Kontak-->
        <div class="col-lg-6">
          <div class="rows">
            <h5><strong>Kontak</strong></h5>
            <ul class="list-group" style="list-style-type: none">
              <li>
                <img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk
                No. 26 Surabaya, Indonesia
              </li>
              <li>
                <img src="/img/homepage/Mail.svg" alt="" />username@domain.com
              </li>
              <li>
                <img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--copyright-->
      <div
        class="row text-light py-3"
        style="background-color: #311d68; font-size: 14px"
      >
        <div class="col-lg-12 text-center">
          Copyright (c) SYNRGY Academy 2021
        </div>
      </div>
    </div>
  </body>
</html>
