.fit-image {
  object-fit: cover;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0;
}

#image {
  /* background-image: url(photo-1479292889369-1a48f234247e.jpg); */
  object-fit: cover;
}

.p-r:before {
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 210px;
  left: 0;
  bottom: 0;
  /* background-size: cover; */
}

#col2 {
  margin: 7%;
}

#name {
  font-size: 14px;
}

.text {
  font-size: 15px;
}

.form-control {
  opacity: 0.5;
}
