<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>mini-project</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css" />
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>

  <body>
    <section class="login-clean">
      <form method="post">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration">
          <i class="icon ion-ios-navigate"></i>
          <h1 style="font-size: 17.8836px">Hai, Selamat Datang</h1>
          <h1 style="font-size: 15.8836px">Silahkan masuk terlebih dahulu</h1>
        </div>
        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Log In</button></div>
        <a class="forgot" href="#">Belum punya akun ? Daftar</a>
      </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
