<div class="container">
  <h1>Detail Penawaran</h1>
  <p></p>
  <div class="table-responsive border rounded border-dark">
    <table class="table">
      <tbody>
        <tr>
          <td>Nama Tutor</td>
          <td>Cell 2</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td>Cell 4</td>
        </tr>
        <tr>
          <td>Mata Pelajaran</td>
          <td>Cell 4</td>
        </tr>
        <tr>
          <td>Kontrak</td>
          <td>Cell 4</td>
        </tr>
        <tr>
          <td>Gaji</td>
          <td>Cell 4</td>
        </tr>
        <tr>
          <td>Jadwal</td>
          <td>Cell 4</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>Cell 4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
