<section class="jumbotron-1 jumbotron-fluid text-center">
  <div class="container">
    <div class="d-flex" id="upper-menu">
      <button class="btn" type="button">Edit Data Anak</button>
      <div class="btn-group" role="group"></div>
    </div>
    <div class="border rounded" id="profil-anak">
      <div class="row">
        <div class="col-auto col-md-6 d-lg-flex justify-content-lg-center align-items-lg-center" style="border-radius: 0">
          <img class="rounded d-lg-flex justify-content-lg-center align-items-lg-center" />
        </div>
        <div class="col-10 col-md-6">
          <h2 class="text-start">Nama anak</h2>
          <p class="text-start">Tanggal Lahir</p>
          <p class="text-start">2 SMP</p>
          <p class="text-start">Deskripsi</p>
        </div>
      </div>
    </div>
    <div class="btn-group" role="group"></div>
  </div>
  <div class="container d-md-flex align-items-md-center">
    <picture><img /></picture>
  </div>
  <!--  -->
  <div class="container">
    <h2>Laporan<br /></h2>
  </div>
  <div class="container">
    <input type="search" /><button class="btn btn-primary" type="button">Cari</button>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Hari, Tanggal</th>
            <th>Mata Pelajaran</th>
            <th>Deskripsi</th>
            <th>Perilaku</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 2</td>
            <td>Cell 2</td>
          </tr>
          <tr>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 4</td>
            <td>Cell 4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
